/back_testing_result/
/logs/
/back_testing_result/back_testing_20210202_triMa/
/back_testing_result/strategy_tri_ma/
/back_testing_result/strategy_tri_ma_0219/
/back_testing_result/strategy_tri_ma_0220/
/back_testing_result/strategy_tri_ma_opposite_0220/
/source_data/
